log
build
install
launch/*cache*
data/*
nohup.out
domain_id
*.idea
*~
*.pyc
*.pt
*.pth
*.avi
*.txt
*.csv
*.jpg
*.jpeg
*.pgm
*.tar
*.json
*.cmake
Annotation tool V2.2/logs/
Annotation_tool_V3/logs/
Machine_learning/Python/Ros/catkin_workspace/
Annotation_tool_V3/system/old_scripts/
Machine_learning/Task/object_detector_2
Machine_learning/wget-log

